@import "~antd/dist/antd.less";

html {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.logo {
  height: 64px;
  width: 200px;
  float: left;
  display: inline-block;
  span {
    color: aliceblue;
  }
}
